.App {
	/* text-align: center; */
	padding: 0 auto;
}

.Header {
	display: flex;
	margin: 0 auto;
}

.Header-Logo {
	color: #eeeeee;
	flex: 0 0 50%;
}

.Header-Menu {
	text-align: center;
	line-height: 64px;
	flex: 1;
}

.Page {
	background-color: #fff;
	padding: 1rem 0;
	font-size: 1rem;
}

.Page-Header {
	background-color: #002855;
	color: #eeeeee;
	padding: 1rem 0;
	font-size: 2rem;
	font-weight: bold;
}

.Page p {
	line-height: 1.5rem;
}

.Page h2 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.Page ul {
	padding-inline-start: 1.5rem;
}

.Page-Paragraph h1 {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.Footer {
	margin: 2rem 0;
	padding: 1rem;
	/* max-width: 1080px; */
	background-color: lightgray;
	box-shadow: 0 50vh 0 50vh lightgray;
}

.Footer h1 {
	margin-top: 2rem;
	padding-bottom: 0.5rem;
	font-size: 1.1rem;
	font-weight: 700;
}

.Footer ul {
	padding-inline-start: 0rem;
	list-style-type: none;
}

.Footer li {
	margin: 0.25rem 0;
}

.Footer a {
	color: #004efd;
	font-weight: 500;
}

.Footer {
	line-height: 1.25rem;
}

.p_grouped p {
	margin: 0;
	padding: -1rem 1rem;
}